<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<!--[if (gt IE 9)|!IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>David Hill Personal Site</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="dns-prefetch" href="<%= staticsUrl %>/">

	<!-- inject:head	-->
	<!-- endinject -->
	<!--[if IE]>
	<link rel="shortcut icon" href="favicon.ico">
	<![endif]-->

	<link rel="stylesheet" href="css/styles.css">
	<script src="modernizr/modernizr.<%= jsSuffix %>?version=<%= releaseVers %>"></script>

	<!-- inject:css	-->
	<!-- endinject -->

</head>
<body ng-app="dhApp" class="ng-cloak">
	<!-- inject:partials:html -->
	<!-- endinject -->
	<header>
		<div class="header__container">
			<h1>David Hill</h1>
			<nav ng-controller="dhNavCtrl">
				<ul>
					<li ng-repeat="link in links" > <a ng-href="#/{{link.path}}" ng-class="{ 'active': isActive(link) }" ng-cloak >{{link.title}}</a> </li>
				</ul>
			</nav>
		</div>
	</header>

	<main>
		<section>
			<div ng-view>Give me a sec..</div>
		</section>
	</main>

	<footer>
		<div class="footer__content">
				&copy; David Hill - Top Cat
		</div>
	</footer>

	<script src="<%= staticsUrl %>/components/es5-shim/es5-shim.<%= jsSuffix %>"></script>

	<script src="<%= staticsUrl %>/components/angular/angular.<%= jsSuffix %>"></script>
	<script src="<%= staticsUrl %>/components/angular-animate/angular-animate.<%= jsSuffix %>"></script>
	<script src="<%= staticsUrl %>/components/angular-route/angular-route.<%= jsSuffix %>"></script>
	<script src="<%= staticsUrl %>/components/angular-touch/angular-touch.<%= jsSuffix %>"></script>

	<script src="js/all.js?version=<%= releaseVers %>"></script>
	<script src="app.js?version=<%= releaseVers %>"></script>
</body>
</html>
