@import '../../third-party-libs/components/modularized-normalize-scss/normalize';
@import '../../node_modules/scut/dist/scut';

@import 'partials/variables';
@import 'partials/mixins';

// customise the select colour
::selection { background-color:#FFCC00; }

* { box-sizing: border-box; }

body {
    background: $primary-color;
}

@import "partials/layout/header";
@import "partials/layout/footer";

header .header__container, main section, .footer__content {
  max-width: map-get($mainLayout, max-width);
}


main {
    background: #FFF;
    & > section {
        margin: 0 auto;
        padding: 1em 1em 4em;
    }
}
