@import '../../third-party-libs/components/modularized-normalize-scss/normalize';
@import '../../node_modules/scut/dist/scut';

@import 'partials/variables';
@import 'partials/mixins';

// customise the select colour
::selection { background-color:#FFCC00; }

* { box-sizing: border-box; }

body {
    background: #CCC;
}

@import "partials/layout/header";
@import "partials/layout/footer";

header nav, main, .footer--content {
  max-width: map-get($mainLayout, max-width);
}


main {
    background: #FFF;

    margin: 0 auto;

    & > section {
        padding: 1em;
    }
}
