@import '../../third-party-libs/components/modularized-normalize-scss/normalize';
@import '../../node_modules/scut/dist/scut';

@import 'partials/variables';
@import 'partials/mixins';

// customise the select colour
::selection { background-color:#FFCC00; }

nav ul {
    @include scut-list-floated();
}

body {
    background: #CCC;
}

.wrapper {
    max-width: 45em;
    background: #FFF;

    margin: 0 auto;

    & > section, & > nav {
        padding: 1em;
    }
}

footer {
    background: #333;
    color: #EEE;
    padding: 1em 2em;
}
